@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* Импорт шрифта Roboto из Google Fonts с различными начертаниями и весами */

body {
    background-color: #ddd; /* Устанавливает светло-серый цвет фона для всего документа */
    margin: 0; /* Убирает отступы по умолчанию у body */
    font-family: 'Roboto', sans-serif; /* Устанавливает шрифт Roboto для текста на странице */
    display: flex; /* Использует flexbox для выравнивания содержимого */
    align-items: center; /* Выравнивает элементы по вертикали по центру */
    justify-content: center; /* Выравнивает элементы по горизонтали по центру */
    height: 100vh; /* Устанавливает высоту body на 100% высоты видимой области окна */
}

.container {
    position: relative; /* Устанавливает относительное позиционирование для контейнера */
    padding: 10px; /* Добавляет внутренние отступы в 10 пикселей вокруг контейнера */
}

.container .song-info {
    background-color: #000; /* Устанавливает черный цвет фона для блока информации о песне */
    margin: 0 15px; /* Устанавливает отступы по 15 пикселей слева и справа */
    padding: 15px 15px 5px 150px; /* Устанавливает внутренние отступы: 15px сверху, 15px справа, 5px снизу, 150px слева */
    border-radius: 15px 15px 0 0; /* Закругляет верхние углы блока с радиусом 15 пикселей */
}

.container .song-info .song-name {
    color: #b9b9b9; /* Устанавливает светло-серый цвет текста для названия песни */
    font-size: 14px; /* Устанавливает размер шрифта для названия песни на 14 пикселей */
    margin: 3px 0 20px; /* Устанавливает отступы: 3 пикселя сверху, 0 слева и справа, 20 пикселей снизу */
}

.container .song-info .artist-name {
    color: #fff; /* Устанавливает белый цвет текста для имени исполнителя */
    font-weight: bold; /* Устанавливает жирное начертание для имени исполнителя */
    font-size: 18px; /* Устанавливает размер шрифта для имени исполнителя на 18 пикселей */
}

.container .song-info .progress-bar {
    background-color: #505050; /* Устанавливает темно-серый цвет фона для прогресс-бара */
    border-radius: 20px; /* Закругляет углы прогресс-бара с радиусом 20 пикселей */
    cursor: pointer; /* Изменяет курсор на указатель при наведении на прогресс-бар */
}

.container .song-info .progress-bar .fill-bar {
    width: 0; /* Устанавливает начальную ширину заполненной части прогресс-бара на 0 (будет изменяться динамически) */
    height: 6px; /* Устанавливает высоту заполненной части прогресс-бара на 6 пикселей */
    border-radius: 20px; /* Закругляет углы заполненной части прогресс-бара с радиусом 20 пикселей */
    background: #1db954; /* Устанавливает зеленый цвет фона для заполненной части прогресс-бара */
}

.container .song-info .time {
    font-size: 15px; /* Устанавливает размер шрифта для времени на 15 пикселей */
    color: #b9b9b9; /* Устанавливает светло-серый цвет текста для времени */
    margin: 10px 0; /* Устанавливает отступы: 10 пикселей сверху и снизу, 0 слева и справа */
}

.container .disk {
    max-width: 120px; /* Устанавливает максимальную ширину для диска на 120 пикселей */
}

.container .disk .active {
    animation: rotate 3s linear 0s infinite forwards; /* Применяет анимацию вращения к активному диску, длительность 3 секунды, линейная анимация, бесконечное повторение */
}

.container .disk .cover {
    width: 145px; /* Устанавливает ширину обложки диска на 145 пикселей */
    height: 145px; /* Устанавливает высоту обложки диска на 145 пикселей */
    position: absolute; /* Устанавливает абсолютное позиционирование для обложки диска */
    top: 10px; /* Устанавливает верхний отступ в 10 пикселей от родительского элемента */
    left: 10px; /* Устанавливает левый отступ в 10 пикселей от родительского элемента */
    background: url("assets/Pasha.jpg"); /* Устанавливает фоновое изображение обложки диска */
    background-repeat: no-repeat; /* Запрещает повторение фонового изображения */
    background-position: bottom center; /* Устанавливает позицию фонового изображения внизу по центру */
    background-size: cover; /* Масштабирует фоновое изображение, чтобы оно полностью заполнило элемент */
    border: 3px solid #fff; /* Устанавливает белую рамку шириной 3 пикселя вокруг обложки диска */
    border-radius: 50%; /* Закругляет углы обложки диска, делая ее круглой */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); /* Добавляет тень к обложке диска с размерами и прозрачностью */
    transition: all 0.2s ease-in-out; /* Устанавливает плавный переход для всех свойств за 0.2 секунды при изменении */
}

.container .disk .circle {
    position: absolute; /* Устанавливает абсолютное позиционирование для круга */
    width: 30px; /* Устанавливает ширину круга на 30 пикселей */
    height: 30px; /* Устанавливает высоту круга на 30 пикселей */
    left: 15%; /* Устанавливает левый отступ на 15% от родительского элемента */
    top: 29%; /* Устанавливает верхний отступ на 29% от родительского элемента */
    background-color: #fff; /* Устанавливает белый цвет фона для круга */
    z-index: 1; /* Устанавливает порядок наложения, чтобы круг был выше других элементов */
    border-radius: 50%; /* Закругляет углы круга, делая его круглым */
}

.container .controls {
    display: flex; /* Использует flexbox для выравнивания элементов внутри контейнера управления */
    align-items: center; /* Выравнивает элементы по вертикали по центру */
    justify-content: center; /* Выравнивает элементы по горизонтали по центру */
    gap: 8px; /* Устанавливает промежуток в 8 пикселей между элементами внутри контейнера */
    background-color: #292929; /* Устанавливает темно-серый цвет фона для контейнера управления */
    width: 450px; /* Устанавливает ширину контейнера управления на 450 пикселей */
    height: 100px; /* Устанавливает высоту контейнера управления на 100 пикселей */
    border-radius: 20px; /* Закругляет углы контейнера управления с радиусом 20 пикселей */
    text-align: center; /* Выравнивает текст внутри контейнера по центру */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6); /* Добавляет тень к контейнеру управления с размерами и прозрачностью */
}

.container .controls #play {
    background-color: #1db954; /* Устанавливает зеленый цвет фона для кнопки воспроизведения */
    color: #fff; /* Устанавливает белый цвет текста для кнопки воспроизведения */
    padding: 15px 17px 14px 18px; /* Устанавливает внутренние отступы для кнопки воспроизведения */
    font-size: 28px; /* Устанавливает размер шрифта для текста кнопки воспроизведения на 28 пикселей */
    border-radius: 50%; /* Закругляет углы кнопки воспроизведения, делая ее круглой */
    transition: all 0.3s ease; /* Устанавливает плавный переход для всех свойств за 0.3 секунды при изменении */
}

.container .controls #play:hover {
    background: #189945; /* Изменяет цвет фона кнопки воспроизведения на более темный зеленый при наведении */
}

.container .controls i {
    padding: 30px 8px; /* Устанавливает внутренние отступы для иконок управления */
    font-size: 35px; /* Устанавливает размер шрифта для иконок управления на 35 пикселей */
    cursor: pointer; /* Изменяет курсор на указатель при наведении на иконки */
    color: #919191; /* Устанавливает светло-серый цвет текста для иконок управления */
    transition: all 0.3s ease; /* Устанавливает плавный переход для всех свойств за 0.3 секунды при изменении */
}

.container .controls i:hover {
    color: #fff; /* Изменяет цвет текста иконок управления на белый при наведении курсора */
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg); /* Устанавливает начальное состояние анимации: поворот на 0 градусов по оси Z */
    }
    100% {
        transform: rotateZ(360deg); /* Устанавливает конечное состояние анимации: поворот на 360 градусов по оси Z */
    }
}